<%- include('./layout/header.ejs') %>

    <main class="site-main">

        <%- include('./layout/Homepage/hero-banner.ejs') %>
            <%- include('./layout/Homepage/hero-carousel.ejs') %>
                <%- include('./layout/Homepage/Trending.ejs') %>
                    <%- include('./layout/Homepage/Offer-section.ejs') %>
                        <%- include('./layout/Homepage/best-selling-item.ejs') %>
                            <%- include('./layout/Homepage/blog-section.ejs') %>
                                <%- include('./layout/Homepage/Subscribe.ejs') %>








    </main>


    <%- include('./layout/footer.ejs') %>